.previewContainer {
    background-color: #32645a;
    background-image: linear-gradient(45deg, #70b5a7 25%, #7fc7b9 25%, #7fc7b9 50%, #70b5a7 50%, #70b5a7 75%, #7fc7b9 75%, #7fc7b9 100%);
    background-size: 56.57px 56.57px;
    color: #32645a;
    width: 100%;
    max-width: 500px;
    padding: 1em;
    margin: 1em auto 1em auto;
}

.previewContainer h2 {
    font-weight: bold;
}

.previewChoice {
    text-align: left;
    font-size: 1.15em;
    margin-bottom: .25em;
    color: white;
    background-color: rgb(65, 123, 111, .8);
    padding: 1em;
}

.previewChoice__label {
    font-weight: bold;
}

.previewContainer .backButton {
    background-color: #7b8785;
    color: white;
}

.previewContainer .backButton:hover {
    background-color: #9caba9;
}

.previewContainer .backButton:active {
    background-color: #99d7cb;
}